<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link rel="shortcut icon" href="/favicon.png">
   <title>Edit Employee log</title>
</head>
<body>
   <h1>EDIT EMPLOYEE LOG (TEST)</h1>
   <form action="/api/employeelogs/edit" method="POST">
      <label for="logId">Employee Log ID: </label><br>      
      <input type="text" name="logId" placeholder="XXXX-XXXXX">
      <br><br>

      
      <label for="emotionIn">Emotion In: </label><br>
      <input type="number" name="emotionIn" value="1">
      <br><br>

      <label for="emotionOut">Emotion Out: </label><br>
      <input type="number" name="emotionOut" value="1">
      <br><br>

      <input type="submit" style="background-color:greenyellow; border: none; padding: 11px;" value="Submit">
      <input type="reset" style="background-color: #fff; border: 1px solid #cecece; padding: 10px;" value="Reset">
   </form>
</body>
</html>