<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login Test</title>
	<style>
		body {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			height: 100vh;
			margin: 0;
		}
	</style>

	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
	<h1>SENTIMENT TEST</h1>
	<code style="font-weight: bold;">NOTE:</code>
	<code style="text-align: center;">
      This page is only used for testing purposes.
	</code><br>

	<form id="login_form">
		<span>Password: </span>
		<input type="password" name="access" id="password"><br>

		<input type="submit" value="login">
	</form>

	<script src="/socket.io/socket.io.js"></script>
	<script>

		// set up web sockets
		const socket = io('http://[::1]:3000/');

		socket.on('SCANNER', (data) => {
			const { id, employee, login_mode } = data;
			alert(`${employee} just logged ${login_mode ? "in" : "out"}`);
		});

		socket.on('SCANNER_MultipleEmployeeLogError', () => {
			console.log('Cannot have multiple attendance log in a day.');
		});

		socket.on('SCANNER_EmployeeNotFoundError', () => {
			console.log('Employee not yet registered in the system.');
		});

		socket.on('disconnect', () => {
			console.log('disconnected.');
		});

		// target elements
		const login_form = document.querySelector('#login_form');
		const password = document.querySelector('#password');

		login_form.addEventListener('submit', async (e) => {
			try {
				e.preventDefault();
				socket.emit('authenticate_sentiment_selection', { p: password.value }, (response) => {
					console.log(response);
				});
			} catch (error) {
				console.log(error);
			}
		});

	</script>
</body>

</html>