<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login Test</title>
	<style>
		body {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			height: 100vh;
			margin: 0;
		}
	</style>

	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
	<h1>LOGIN TEST</h1>
	<code style="font-weight: bold;">NOTE:</code>
	<code style="text-align: center;">
      This page is only used for testing purposes.
	</code><br>

	<form id="login_form">
		<span>Email: </span>
		<input type="email" name="email" id="email"><br>

		<span>Password: </span>
		<input type="password" name="password" id="password"><br>

		<input type="submit" value="login">
	</form>

	<script src="/socket.io/socket.io.js"></script>
	<script>

		// set up web sockets
		const socket = io('http://[::1]:3000/', {
			autoConnect: false
		});

		socket.on('get_employees', () => {
			alert('Some fetched employee data');
		});

		// target elements
		const login_form = document.querySelector('#login_form');
		const email = document.querySelector('#email');
		const password = document.querySelector('#password');

		login_form.addEventListener('submit', async (e) => {
			try {
				e.preventDefault();
				const response = await axios.post('/api/auth/login', {
					email: email.value,
					password: password.value
				});

				console.log(response.data);
				
				// if response is recieved, connect to socketio server
				socket.connect();
				socket.emit('authenticate', { email: email.value }, (response) => {
					console.log(response);
				});

			} catch (error) {
				console.log(error);
			}
		});

	</script>
</body>

</html>